<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ title }}">
    <script src="https://aframe.io/releases/{{ aframeVersion }}/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <img id="groundTexture" src="https://cdn.aframe.io/a-painter/images/floor.jpg" crossorigin="anonymous">
        <img id="skyTexture" src="https://cdn.aframe.io/a-painter/images/sky.jpg" crossorigin="anonymous">
      </a-assets>

      <!-- Primitives. -->
      <a-box position="-1 0.6 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
      <a-sphere position="0 1.35 -5" radius="1.25" color="#EF2D5E"></a-sphere>
      <a-cylinder position="1 0.85 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
      <a-plane position="0 .1 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>

      <!-- Background sky. -->
      <a-sky height="2048" radius="30" src="#skyTexture" theta-length="90" width="2048"></a-sky>

      <!-- Ground. -->
      <a-circle src="#groundTexture" rotation="-90 0 0" radius="32"></a-circle>

      {% if handControls -%}
      <!--Tracked controls. -->
      <a-entity hand-controls="hand: left"></a-entity>
      <a-entity hand-controls="hand: right"></a-entity>
      {%- endif %}
    </a-scene>
  </body>
</html>
